# Binários e Objetos de Compilação
bin/
obj/
out/

# Configurações do Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Diretórios de Build do Rider e ReSharper
.idea/
*.DotSettings.user

# Logs, Cache e Configurações do Sistema
logs/
*.log
*.log.*
nuget.exe
*.pidb
*.svclog
*.sdf
*.dbmdl
*.bak
*.cache
*.wflow

# Arquivos de Locking e Pacotes do NuGet
project.lock.json
packages/
*.nupkg
*.snupkg
.nuget/
**/project.assets.json
**/project.lock.json
**/restore.db
**/props/Microsoft.*

# Diretórios de Debug
*.pdb
*.ilk
*.meta
*.obj
*.aps
*.sbr
*.tlog

# Certificados e Configurações de Segurança
secrets.json
appsettings.Development.json
.env
.env.local

# Arquivos do Docker
**/Dockerfile
**/docker-compose*
**/compose.*

# Logs e Temporários do Rider/Resharper
*.rider/
*.rsuser
*.cache/
*.resources

# Arquivos Gerados pelo Visual Studio
*.sln.ide
.idea/
